h1 {
  /* border: solid 1px black; */
  margin-top: 20px;
  text-align: center;
}

.headerContainer {
 /* background-color: #41197f; */
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.searchRadios {
  display: flex;
  justify-content: space-between;
}

.SearchBar {
  margin: 20px;
}

.searchImput {
  margin: 20px;
}

.profileBtn {
  margin: 20px;
  background-color: #41197f;
  /* width: 100px;
  height: 80px; */
}
