.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btns {
  align-items: center;
  background: #fcdc36;
  background-image: none;
  display: flex;
  height: 52px;
  justify-content: space-between;
  width: 100%;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  width: 70px;

}

.header button img {
  filter: invert(10%) sepia(90%)
    saturate(3503%) hue-rotate(261deg) brightness(88%) contrast(98%);
}


.buttons-header {
  align-items: center;
  background: #fcdc36;
  border: none;
}

.text-icon {
  font-size: larger;
  margin-left: 15px;
}

.container-icons {
  align-items: center;
  color: #41197f;
  display: flex;
}

.type {
  filter: invert(77%) sepia(43%) saturate(699%)
    hue-rotate(351deg) brightness(97%) contrast(104%);

  /* margin-top: 15px; */
}

.title {
  color: #41197f;
  margin-top: 3%;
}

.SearchBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header-icon-container {
  font-size: 40px;
  height: fit-content;
}
