.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.profile-container p {
  font-size: 1.2rem;
  font-weight: 700;
}

.profile-btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 84px;
  width: 80%;
}

.profile-btn-container p {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-btn-container button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  padding: 5px;
  width: 50px;
}

.profile-btn-container button:hover {
  opacity: 0.6;
}
