.card {
  align-items: center;
  border: 0.517px solid #b1b1b1;
  box-shadow: 0 4px 4px rgba(95, 26, 26, 0.25);
  display: flex;
  height: 150px;
  justify-content: center;
}

.container-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card img {
  border-radius: 5px 5px 0 0;
  height: 80%;
  width: 100%;
}

.card h3 {
  font-size: 14px;
  height: 20%;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.container {
  margin: 0;
  margin-bottom: 52px;
  margin-top: 1rem;
}

.row {
  gap: 10px;
  height: 60%;
  justify-content: space-evenly;
  margin: 0;
}

div[ class ^= 'col-' ] {
  padding: 0;
  text-align: center;
  width: 160px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.buttons button {
  align-items: center;
  background: transparent;
  border: 5px double black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  padding: 5px;
}

.buttons button:hover {
  opacity: 0.6;
}
